# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.mypy_cache/

# Environnements virtuels
the_env/
.venv/
venv/

# Frontend courants
node_modules/
dist/
.build/

# VCS & configs
.git/
.gitignore
Dockerfile*
docker-compose.yml

# Secrets et artefacts locaux
.env
*.log
.cache/
