apsw==3.50.2.0
bases==0.3.0
crawl4ai
langchain_openai
bs4==0.0.2
blinker<1.5
beautifulsoup4
langchain
langchain_core
langgraph
osmium
pydantic
pymongo
python-dotenv
Requests==2.32.4
requests_ip_rotator==1.0.14
selenium==4.34.0
selenium_wire==5.1.0
urllib3>=2.4.0,<3.0.0
setuptools==80.9.0
spatialite==0.0.3
trio==0.30.0
trio-websocket==0.12.2
typing_extensions>=4.14.0,<5.0.0
undetected-chromedriver==3.5.5
fastapi
uvicorn
fastapi[standard]
