# FastAPI et serveur
fastapi
uvicorn[standard]
python-multipart
python-dotenv
fastapi[standard]

# LangGraph et LangChain
langgraph
langchain
langchain_openai
langchain_core
langgraph

# Base de données et outils
sqlalchemy
alembic
apsw
bases
pymongo
spatialite

# Web Scraping et Automation
crawl4ai
bs4==0.0.2
beautifulsoup4
Requests==2.32.4
requests_ip_rotator==1.0.14
selenium==4.34.0
selenium_wire==5.1.0
undetected-chromedriver==3.5.5

# CORS et middleware
#python-cors

# Utilitaires
pydantic==2.5.0
httpx==0.25.2
aiofiles==23.2.1
blinker<1.5
urllib3>=2.4.0,<3.0.0
setuptools==80.9.0
trio==0.30.0
trio-websocket==0.12.2
typing_extensions>=4.14.0,<5.0.0
osmium
